.sideBar
  .sideBar__userName
    .sideBar__userName--topItem
      .topItem--name
        =current_user.nicname
      .topItem--icon
        =link_to new_group_path, class: "btn new-group_btn" do
          =icon('far', 'edit')
        =link_to edit_user_path(current_user), class: "btn edit-account_btn" do
          =icon("fa", "cog")
  .sideBar__groupList
    .sideBar__groupList--block
      .groupList--name
        aaaaa
      .groupList--message
        まだメッセージがありません
  