.sideBar
  .sideBar__userName
    .sideBar__userName--topItem
      .topItem--name
        =current_user.nicname
      .topItem--icon
        =link_to new_group_path, class: "btn new-group_btn" do
          =icon('far', 'edit')
        =link_to edit_user_path(current_user), class: "btn edit-account_btn" do
          =icon("fa", "cog")
  .sideBar__groupList
    - current_user.groups.each do |group|
      .sideBar__groupList--block
        = link_to group_messages_path(group) do
          .groupList--name
            = group.name
          .groupList--message
            = group.show_last_message